<!doctype html>
<html lang="ko">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">cookie 실습</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          쿠키 실습
          <div class="text-end mt-3">
            <input type="checkbox" id="cookie"> <label for="cookie" style="cursor: pointer;">오늘 하루 안보기</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="modalClose();">닫기</button>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('./partials/nav.ejs') %>
  
  <div class="jumbotron bg-light mt-5">
    <h1 class="display-4">Hello, WeBlog!</h1>
    <pre class="lead">

      1. board_edit의 submit 안된다..
      <del>2. 네이버 로그인 완죠니 안댐 ㅋ </del> 다시 댐 ㅋ 
      3. aws 해보고 싶은데 
      4. 페북이랑 네이버 카카오 로그인 + 아이콘 로그인창에
      5. 로그아웃도 안되네 ...? ㅋㅋ..  delete도 눌리기만하고 안되네.. 
      6. 글보러 들어갔을 때 userName 뜨게 하기 
      7. 아니 그리고 board에서 작성자명 다르면 왜 userName 안뜸? 
      8. 엥 남이 쓴 글에도 edit이 눌려지네 delete도 안보이게.. 

      되는게 뭐임 ; ㅎ;; 
    </pre>
    <hr class="my-4">
    <p>&nbsp;Move to Service</p>
    <a class="btn btn-primary btn-lg" href="/board" role="button">Board</a>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="/login/auth/naver" role="button">Naver Login</a>
  </div>
</body>

<script>
/* 하루 동안 안보기 기능 구현하기*/
  const myModal = new bootstrap.Modal('#exampleModal');
  // (hide)쿠키가 없으면 모달이 켜진다.
  if( '<%= popup %>' === '') myModal.show();

  function modalClose() {
    // 체크박스에 체크를 하면 true, 아니면 false 반환
    if(document.getElementById("cookie").checked){
      // 프론트에서 백으로 통신요청 
      fetch('cookie', {
        method: 'post',
        headers: {
          'Content-type' : 'application/json'
        },
      }).then((res)=> {
        console.log(res.data);
      }).catch((err)=> {
        console.log(err);
      })
    }
    myModal.hide();
  }
</script>

</html>